.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 345px;
  background-color: black;
  color: white;
  height: 35px;
  padding: 5px;
  margin-top: 2px;
}

.checkbox {
  display: flex;
  align-items: center;
}

.line_through {
  text-decoration: line-through;
}


.checkbox .icon {
  margin-right: 5px;
  font-size: 15px;

}

.task div span {
  margin: 0px 5px 0px 4px;
}

.task div .icon {
  cursor: pointer;
}

h1 {
  text-align: center;

}